<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações de como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>lwekQIdLV2HbKruJ2oz3WkGQkEZtKjDa7grURhn1JwH3PBOccZSlTV6BpqhQ3+/kO+YkzVdhtTK8LYRVwKXV0hiFPi9xGnbSh/32v7FThGMkB2tyTfazCpR631EMppKeMo58wuiGmxHipPzz+qQgy7L/bF27S8lTeyHGTJyWWpvv+BNpZChYlpRVtAc6oRNDwbdhEbxp/Dhas6SluZGV3Rcl8Be7DisX5r1NgXdffLTj3M5xb3huSpMyT/1/GPvgPMKokX0xfXPFT2WL8meeC0ycQcPP+kgVmM3uLhe8byDLIDvMMojVqINRcNSqkGVGvZJvlUeFCntMwNF1DyWSxw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>F5AXngV6KWGiKSAIso8bJq51m1gm70TprtH36EQGsokZjiCEBN02GeVJQUUFjwq2Umr0bGtmCkW3G07u0F0I18GKnD5utXlXtO3AFCquqNIM+Thkce2VFFW3ZpvUEjgZkJCAZP5Vw+dd+EAuF2Z3TOJH3cmSYe5nQyMcbK6QYXE2XRZtt+nx75h18pmIHHWK5v4ehOdMMHZatdJgBHGx8lPBq49360naxy3No0eXUOYs+uV8u1dl8NgpVAW+BCE2TBOtQjTAV7mTTeZziL/acIEA2A3S7SvG9p3dDAumH1nG1JlJvDCCjyaeCV84OmEhKNGSjUuxVVM58SYkOwXwlS9gfSNK2QDItnqI0N6qDf69jHu/lIxsBz39e6+dnBBiOXHpZUofA5jK3OdrNV7hTMH4ApHeUHtuhhGtL5uQnWuB13aHzDlMLIY6g0g1qTeiia5YT4dmv9ox3vYMCY5Vi5vDvo0zEp+4ETURdz+Rk7MMw0w+hODhhnbei9s8Qu2hJw9i3FFL9iJ2LOGaISyXPJSow9qKEStexucLl6M9AcAkwigZUE3Lhgzv40oaIARVzsR0zZnH05g2Ix3bhjQFPqxx7qKI5ovMetvjhW8/HRgTziCl78eYKJaxDr4RRTrjHITCjmRB5qtZbA1W0d5zUw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>